<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.xie.springboot.mapper.FlowerMapper">
    <select id="selFlowerById" parameterType="int" resultType="com.cn.xie.springboot.bean.Flower">
        select * from flower where id=#{id}
    </select>
    <select id="selectFlowerAll" resultType="com.cn.xie.springboot.bean.Flower">
        select * from flower
    </select>

    <insert id="insetFlower" parameterType="com.cn.xie.springboot.bean.Flower">
        insert into flower(name,price,production,images,updatetime ) value (#{name},#{price},#{production},#{images},#{updatetime})
    </insert>

    <update id="updateFlowerById" parameterType="com.cn.xie.springboot.bean.Flower">
        update flower set name=#{name},price=#{price},production=#{production},images=#{images},updatetime=#{updatetime} where id=#{id}
    </update>

    <delete id="deleteFlowerById" parameterType="int">
        delete from flower where id=#{id}
    </delete>
</mapper>